<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission android:name="android.permission.NEARBY_WIFI_DEVICES" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application

        android:usesCleartextTraffic="true"
        android:enableOnBackInvokedCallback="true"
        android:name=".app.QCApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HeyCyan">
        <activity
            android:name=".ui.QCScanActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.MainActivity" android:exported="false" />
        <activity android:name=".ui.DeviceSettingsActivity" />
        <activity android:name=".ui.RecordingSettingsActivity" />
        <activity android:name=".ui.AboutActivity" />
        <activity android:name=".ui.GuideActivity" />
        <activity android:name=".ui.BgPermissionActivity" />
        <activity android:name=".ui.FaqActivity" />
        <activity android:name=".ui.AppAboutActivity" />
        <activity android:name=".ui.VoiceAssistantActivity" />
        <activity android:name=".ui.NavigationActivity" />
        <activity android:name=".ui.GameAssistSelectionActivity" />
        <activity android:name=".ui.BilliardsAssistActivity" />
        <activity android:name=".ui.TestSimulatorActivity" android:exported="true">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>        <activity android:name=".ui.PairGuideActivity" />
    <activity android:name=".ui.BluetoothPairActivity" />
    <activity android:name=".ui.GuideIntroActivity" />
    <activity android:name=".ui.GuidePhotoVideoActivity" />
    <activity android:name=".ui.GuideMusicActivity" />
    <activity android:name=".ui.FaceDiagnosticsActivity" />
    <activity android:name=".ui.FaceRecognitionActivity" />
    <activity android:name=".ui.AIFavoritesActivity" />
    </application>

</manifest>

